* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: darkblue;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
}
.loader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.loading {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  background-color: #fff;
  border-radius: 50px;
  animation: load 1s ease infinite;
}
@keyframes load{
    0%{
        width: 30px;
        height: 30px;
    }
    25%{
      width: 25px;
        height: 25px;
    }
    50%{
        width: 20px;
        height: 20px;
    }
    75%{
        width: 15px;
        height: 15px;
    }
    
}
.one{
    animation-delay: 0.3s;
}
.two{
    animation-delay: 0.5s;
}
.three{
    animation-delay: 0.7s;
}
.four{
    animation-delay: 0.9s;
}